# =========================
# Build output
# =========================
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# Đôi khi bạn muốn giữ file cấu hình Git nhưng không cần file cache
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# =========================
# Logs & Reports
# =========================
logs/
*.log
app.log
report/
test-output/
surefire-reports/
allure-results/
allure-report/
extent-reports/
screenshots/

# =========================
# Temporary / Cache
# =========================
*.swp
*.swo
*.tmp
*.bak
*.cache
*.class
