<!--tổng quan và chứa toàn bộ dự án -->
<suite name="AirBNB">
<!--    tập hợp các listener sử dụng trong quá trình test  -->
    <listeners>
<!--        <listener class-name="listener.SimpleListeners"/>-->
        <listener class-name="listener.ExtentReportListener"/>
    </listeners>
<!--    các script test được chạy trong quá trình test -->
    <test name="ProfileTests">
<!--        class sẽ đại diện cho những script có test method-->
        <classes>
            <class name="scripts.SignoutTest"/>
        </classes>
    </test>
<!--    <test name="AddEmployeeTest">-->
<!--        <classes>-->
<!--            <class name="scripts.AddEmployeeTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
